aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.2
alpha_vantage==3.0.0
altair==5.5.0
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout==5.0.1
attrs
babel
beautifulsoup4
bleach
blinker==1.9.0
Brotli
cached-property
cachetools==5.5.0
certifi
cffi
charset-normalizer
click==8.1.7
colorlover==0.3.0
comm
contourpy==1.3.1
cufflinks==0.17.3
cycler==0.12.1
debugpy
decorator
defusedxml
entrypoints
exceptiongroup
executing
fastjsonschema
fonttools==4.55.3
fqdn
frozendict==2.4.6
frozenlist==1.5.0
gitdb==4.0.11
GitPython==3.1.43
h11
h2
hpack
html5lib==1.1
httpcore
httpx
hyperframe
idna
importlib_metadata
importlib_resources
intrinio-sdk==6.34.0
ipykernel
ipython
ipywidgets==8.1.5
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
mdurl==0.1.2
mistune
mplfinance==0.12.10b0
multidict==6.1.0
multitasking==0.0.11
narwhals==1.18.4
nbclient
nbconvert
nbformat
nest_asyncio
notebook_shim
numpy
overrides
packaging
pandas==2.2.3
pandocfilters
parso
peewee==3.17.8
pexpect
pickleshare
pillow==11.0.0
pkgutil_resolve_name
platformdirs
plotly==5.24.1
prometheus_client
prompt_toolkit
propcache==0.2.1
protobuf==5.29.1
psutil
ptyprocess
pure_eval
pyarrow==18.1.0
pycparser
pydeck==0.9.1
Pygments
pyparsing==3.2.0
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
requests
retrying==1.3.4
rfc3339_validator
rfc3986-validator
rich==13.9.4
rpds-py
seaborn==0.13.2
Send2Trash
six
smmap==5.0.1
sniffio
soupsieve
stack_data
streamlit==1.41.1
ta==0.11.0
ta-lib
tenacity==9.0.0
terminado
tinycss2
toml==0.10.2
tomli
tornado
traitlets
types-python-dateutil
typing_extensions
typing_utils
tzdata==2024.2
uri-template
urllib3
watchdog==6.0.0
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension==4.0.13
yarl==1.18.3
yfinance==0.2.50
zipp
zstandard==0.23.0
